[submodule "themes/smigle"]
	path = themes/smigle
	url = https://gitlab.com/ian-s-mcb/smigle-hugo-theme.git
[submodule "themes/devise"]
	path = themes/devise
	url = https://github.com/austingebauer/devise.git
[submodule "themes/nostyleplease"]
	path = themes/nostyleplease
	url = https://github.com/Masellum/hugo-theme-nostyleplease
[submodule "themes/sk1"]
	path = themes/sk1
	url = https://github.com/J-Siu/hugo-theme-sk1
